body
{
	/* Colors */
	--orange:      rgba(247, 148, 29, 1.00);
	--orange-tint: rgba(247, 148, 29, 0.25);
	--orange-half: rgba(247, 148, 29, 0.50);
	--orange-dark: rgba(77, 43, 3, 1.00);

	--blue:        rgba(29, 148, 247, 1.00);
	--blue-tint:   rgba(29, 148, 247, 0.25);
	--blue-half:   rgba(29, 148, 247, 0.50);
	--blue-dark:   rgba(7, 58, 100, 1.00);

	--green:       rgba(10, 193, 142, 1.00);
	--green-tint:  rgba(10, 193, 142, 0.25);
	--green-half:  rgba(10, 193, 142, 0.50);
	--green-dark:  rgba(2, 92, 66, 1.00);

	/* Design */
	--body-color: rgba(256, 256, 256, 1);

	--border-color: var(--body-color);
	--outline-color: rgba(0, 0, 0, 0.16);

	--hard-color: rgba(0, 0, 0, 1.00);
	--text-color: rgba(0, 0, 0, 0.80);
	--soft-color: rgba(0, 0, 0, 0.60);
	--link-color: var(--hard-color);


	--menu-color: rgba(235, 235, 235, 1);

	--marked-text-background: rgba(0, 0, 0, 0.07);

	/* Tables */
	--odd-tint: rgba(0, 0, 0, 0.03);
	--even-tint: rgba(0, 0, 0, 0.08);

	--header-grey: rgba(0, 0, 0, 0.21);

	/* Shadows */
	--inner-shadow-color: rgba(0, 0, 0, 0.07);

	--border-shadow: 0 0 0 0.08rem var(--outline-color);
	--header-shadow: 0 0 0 0.08rem var(--green-half);
	--outer-box-shadow: 0rem 0.20rem 0.15rem var(--inner-shadow-color);
	--inner-box-shadow: inset 0rem 0.16rem 0.24rem var(--inner-shadow-color);

	--menu-text-shadow:
		0.16rem 0rem 0.16rem rgba(255, 255, 255, 0.33),
		0rem 0.16rem 0.16rem rgba(255, 255, 255, 0.33),
		-0.16rem 0rem 0.16rem rgba(255, 255, 255, 0.33),
		0rem -0.16rem 0.16rem rgba(255, 255, 255, 0.33),
		0rem 0rem 0.25rem rgba(255, 255, 255, 0.25),
		0rem 0rem 0.60rem rgba(255, 255, 255, 0.15);

	--menu-search-shadow:
		inset 0rem 0rem 0.08rem rgba(0, 0, 0, 0.31),
		inset 0rem 0.12rem 0.24rem rgba(0, 0, 0, 0.13);

	--menu-input-shadow:
		inset 0rem 0.16rem 0.24rem rgba(0, 0, 0, 0);

	/* Gradients */
	--menu-fadeout: linear-gradient(90deg,
		var(--body-color) 0%,
		var(--menu-color) 20%,
		var(--menu-color) 80%,
		var(--body-color) 100%
	);

	--header-gradient: linear-gradient(133deg,
		rgba(10, 193, 142, 0.65) 0%,
		rgba(10, 193, 142, 1) 100%
	);
}
