/* Hide metadata. */
.cwikmeta
{
	display: none;
}

#themeToggle
{
	position: fixed;
	bottom: 2rem;
	right: 2rem;

	width: 2.5rem;
	height: 2.5rem;
	border: 0.75rem solid var(--body-color);
	box-shadow: 0 0 0 0.33rem var(--soft-color);
	background-color: var(--soft-color);
	border-radius: 999rem; opacity: 0.5;
}
