#siteFooter
{
	position: relative;
	bottom: 0;

	width: 100%;
	min-width: 40rem;
	padding-bottom: 0rem;
	overflow: hidden;
}
#siteFooter:before
{
	content: '';
	display: inline-block;
	position: absolute;

	top: 0.32rem;
	z-index: -1;
	width: 300%;
	height: 64rem;
	outline: 0.08rem solid var(--outline-color);
	border-top: 0.16rem solid var(--body-color);
	background-color: var(--menu-color);
}

#siteFooter > div
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
	padding: 0rem 0.75rem;
}
#siteFooter section
{
	width: 100%;
	padding: 0.75rem;
	display: inline-block;
	text-align: left;
}

#siteFooter ul
{
	list-style-type: none;
	list-style-position: inside;
	padding: 0;
	margin-bottom: 0.5rem;
}

#siteFooter ul,
#siteFooter p
{
	font-size: 1.15rem;
	color: var(--soft-color);
}
#siteFooter h4
{
	margin-bottom: 0;
	color: var(--text-color);
}
