*
{
	box-sizing: border-box;
}

html
{
	font-size: 15px;
}

html,
body
{
	display: block;
	position: relative;
	width: auto;
	min-width: 100%;
	margin: 0;
	padding: 0;
}
body
{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	height: 100%;
}

#siteIdentity,
#siteNavigation
{
	flex-grow: 0;
}
#pageContent
{
	flex-grow: 1;
}

/* Support small resolution screens. */
@media only screen and (min-width:  720px) { html { font-size: 17px; } }
@media only screen and (min-width:  750px) { html { font-size: 17px; } }
@media only screen and (min-width: 1080px) { html { font-size: 25px; } }
@media only screen and (min-width: 1200px) { html { font-size: 30px; } }
@media only screen and (min-width: 1280px) { html { font-size: 30px; } }
@media only screen and (min-width: 1334px) { html { font-size: 15px; } }
@media only screen and (min-width: 1440px) { html { font-size: 15px; } }
@media only screen and (min-width: 1620px) { html { font-size: 15px; } }

#siteIdentity,
#siteFooter > div,
#pageContent > article
{
	min-width: 40rem;
	max-width: 70rem;
	margin: auto;
}

