#siteNavigation
{
	width: 100%;
	min-width: 40rem;
	position: relative;
	overflow: hidden;
	padding: 0.48rem 0rem;
}
#siteNavigation:before
{
	content: '';
	display: block;
	position: absolute;

	width: 100%;
	height: 3rem;
	border-top: 0.16rem solid var(--border-color);
	border-bottom: 0.16rem solid var(--border-color);
	outline: 0.08rem solid var(--outline-color);
	background: var(--menu-fadeout);
	box-shadow: var(--outer-box-shadow);
}
#siteNavigation ul
{
	position: relative;
	top: 0.16rem;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;

	list-style-type: none;
	list-style-position: inside;

	width: 100%;
	min-width: 40rem;
	max-width: 70rem;
	margin: auto;
	padding: 0;
	border-left: 0.75rem solid var(--menu-color);
	border-right: 0.75rem solid var(--menu-color);
	height: 3rem;
}
#siteNavigation img
{
	position: absolute;
	left: 0;
	height: 3.25rem;
	padding-left: 1.25rem;
	opacity: 0.07;
	pointer-events: none;
}

#siteNavigation a
{
	position: relative;
	display: block;
	z-index: 9;

	width: 100%;
	height: 100%;
	padding: 0.8rem;
	border: 0;

	cursor: pointer;
	text-decoration: none;
	color: var(--text-color);
	font-size: 1.15rem;
	font-weight: bold;
	font-family: sans-serif;
	text-shadow: var(--menu-text-shadow);
}
#siteNavigation li
{
	position: relative;
	width: 100%;
	font-size: 1rem;
	overflow: hidden;
	text-align: center;
	background-color: var(--menu-color);
	border-left: 0.16rem solid var(--body-color);
}
#siteNavigation li:last-child
{
	border-right: 0.16rem solid var(--body-color);
}
#siteNavigation li:hover a
{
	background-color: var(--orange-half);
}

#search
{
	flex-basis: 100%;
}
#search > form > input:focus::placeholder,
#search:hover > form > input::placeholder
{
	opacity: 0;
}
#search:hover > form > input,
#search > form > input:focus
{
	box-shadow: var(--menu-search-shadow);
}
#search > form > input
{
	border: 0;
	min-width: 0;
	transition: all 0.25s;
	background: transparent;
	width: 100%;
	height: 100%;
	padding: 0.75rem;
	font-size: 1.15rem;
	z-index: 9;
	box-shadow: var(--menu-input-shadow);
}
#search > form > input::placeholder
{
	opacity: 1;
	color: var(--text-color);
	transition: all 0.25s;
	font-size: 1.15rem;
	font-weight: bold;
	font-family: sans-serif;
	text-align: center;
	text-shadow: var(--menu-text-shadow);
}
