#pageContent h1:before,
#pageContent h2:before
{
	content: '';
	display: inline-block;
	margin-top: -0.70rem;
	float: right;
	width: 3rem;
	height: 3rem;
	background-size: contain;
}

#pageContent h1:before
{
	background-image: url('/img/chapter.png');
}
#pageContent h2:before
{
	background-image: url('/img/section.png');
}
#pageContent h1,
#pageContent h2
{
	font-family: sans-serif;
	padding: 0.75rem;
	padding-top: 0.9rem;
	padding-left: 0.95rem;
	background: var(--header-gradient);
	border: 0.16rem solid var(--border-color);
	border-radius: 0.75rem;
	box-shadow: var(--header-shadow);
}
#pageContent h1
{
	margin-top: 0.5rem;
}
#pageContent h2
{
	margin-top: 3.5rem;
}

#pageContent h3,
#pageContent h4,
#pageContent h5,
#pageContent h6
{
	margin-left: 0.75rem;
}

#pageContent p
{
	margin: 1.75rem 0.75rem;
}

#pageContent > article
{
	padding: 0.75rem;
	padding-bottom: 2.5rem;
}
