/* Load the roboto font */
@font-face
{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Roboto'), local('Roboto-Regular'), url('/fonts/Roboto.woff2') format('woff2');
}
@font-face
{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local('Roboto Bold'), local('Roboto-Bold'), url('/fonts/Roboto.woff2') format('woff2');
}
@font-face
{
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url('/fonts/Roboto.woff2') format('woff2');
}
@font-face
{
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: local('Roboto Italic'), local('Roboto-Italic'), url('/fonts/Roboto.woff2') format('woff2');
}

html
{
	font-family: roboto, sans-serif;
}
