pre
{
	padding: 0.75rem;
	color: var(--hard-color);
	background-color: var(--marked-text-background);
	border: 0.16rem solid var(--border-color);
	box-shadow: var(--border-shadow), var(--inner-box-shadow);
}

code
{
	padding: 0rem 0.25rem;
	color: var(--hard-color);
	background-color: var(--marked-text-background);
	outline: var(--thin-line-width) solid var(--marked-text-background);
}

/* Remove visual code presentation when used inside pre or tables. */
table code,
pre code
{
	outline: none;
	background: transparent;
	padding: 0;
}

/* Break words to ensure page always fits. */
pre, code
{
	overflow: auto;
	overflow-wrap: break-word;
	word-break: break-word;
}
