form
{
	font-size: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
input
{
	color: var(--text-color);
}
input.hidden
{
	visibility: hidden;
	width: 0 !important;
	height: 0 !important;
	padding: 0 !important;
	margin: 0 !important;
}
