/* Links */
a
{
	display: inline-block;
	color: var(--orange-dark);
	text-decoration: underline;
	text-decoration-color: var(--orange);
}
a:hover
{
	background-color: var(--orange-tint);
}

a[rel="external"]
{
	color: var(--blue-dark);
	text-decoration-color: var(--blue);
}
a[rel="external"]:hover
{
	background-color: var(--blue-tint);
}
a[rel="external"]:before
{
	content: '';
	display: inline-block;
	height: 1em;
	width: 2ex;
	line-height: 1.2em;
	margin-bottom: -0.15em;
	background-image: url('/img/exit.png');
	background-size: contain;
	background-repeat: no-repeat;
}
