table
{
	width: 100%;
	margin: 0;
	padding: 0;
	border-spacing: 0.16rem;
	border-collapse: separate;
	border-radius: 0.75rem;
	box-shadow: var(--border-shadow);
}
tr:first-child > th:first-child
{
	border-top-left-radius: 0.6rem;
}
tr:first-child > th:last-child
{
	border-top-right-radius: 0.6rem;
}
tr:last-child > td:first-child
{
	border-bottom-left-radius: 0.6rem;
}
tr:last-child > td:last-child
{
	border-bottom-right-radius: 0.6rem;
}

tr:nth-child(odd)
{
	background-color: var(--odd-tint);
}
tr:nth-child(even)
{
	background-color: var(--even-tint);
}
thead > tr
{
	background-color: var(--header-grey) !important;
}
th
{
	font-family: sans-serif;
	padding: 1.25rem 0.75rem;
}
td
{
	padding: 0.25rem 0.5rem;
	overflow-wrap: break-word;
	word-break: break-word;
}
td:first-child,
td:last-child
{
	width: 33%
}
