body
{
	color: var(--text-color);
	background-color: var(--body-color);
}

h1, h2, h3, h4, h5, h6
{
	font-family: sans-serif;
}
h1 { font-size: 1.5rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.4rem; }
h4 { font-size: 1.3rem; }
h5 { font-size: 1.2rem; }
h6 { font-size: 1.2rem; }
p  { font-size: 1.2rem; }
a  { font-size: 1.2rem; }
li { font-size: 1.2rem; }
td { font-size: 1.2rem; }
th { font-size: 1.3rem; }
